@media (min-width: 40rem) {
  .test__container {
    /* background-color: aqua; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
    padding: 1vh;
    margin-top: 5vh;
    /* max-height: 100vh; */
    grid-row-gap: 2vh;
  }
}


/* .test__container {
display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  height: 90%;
  margin-top: 3vh; 
position: relative; 
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.canvas-container-1 {
background: #f2eef5;
  width: 100%;
  height: 90%;
  position: relative;
  grid-row: 1 / 1;
}

.canvas-container-2 {
  position: relative;
}

.canvas-container-3 {
  position: relative;
}

.head {
  width: 86px;
  height: 90px;
  position: absolute;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  transform: rotate(-3deg);
  border: 2px solid #f2eef5;
  /* border-radius: 50%;
  background-color: #121212;
  z-index: 5;
  top: 10%;
  left: 30%;
}


.face__container {
position: absolute;
  left: 50%;
  top: -30%;
  transform: translate(-50%, 0%);
}

.hair__left {
  width: 87px;
  height: 40px;
  border-radius: 50%;
  background-color: #f2eef5;
  top: -27%;
  left: -28%;
  transform: rotate(337deg);
  position: absolute;
}

.hair__left div {
  height: 95px;
  width: 32px;
  background-color: #f2eef5;
  position: absolute;
  transform: rotate(25deg);
  top: 18%;
  left: -32%;
  border-radius: 45%;
  border-right: 6px solid transparent;
  border-left: 10px solid transparent;
  border-bottom-right-radius: 0;
}

.hair__left div::after {
  content: "";
  height: 40px;
  width: 25px;
  background-color: #f2eef5;
  position: absolute;
  transform: rotate(71deg);
  top: 71%;
  left: -73%;
  border-radius: 45%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 33%;
}

.hair__right {
  width: 36px;
  height: 35px;
  background-color: #f2eef5;
  top: -14%;
  left: 65%;
  transform: rotate(296deg);
  position: absolute;
  border-top-right-radius: 50%;
  border-top-left-radius: 80%;
  border-bottom-right-radius: 50%;
  border-right: 8px solid transparent;
}

.hair__right::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 3px;
  background-color: #121212;
  top: 3%;
  left: 35%;
  border-top-right-radius: 50%;
}

.hair__right div {
  position: absolute;
  top: 42%;
  left: -66%;
  border-bottom: 12px solid;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 44px solid #f2eef5;
  transform: rotate(230deg);
}

/* .hair__right div::after {
  content: "";
  height: 40px;
  width: 30px;
  background-color: red;
  position: absolute;
  transform: rotate(83deg);
  top: 62%;
  left: -189%;
  border-radius: 45%;
  border-bottom-left-radius: 138%;
  border-top-right-radius: 60%;
  border-left: 12px solid blue;
} 

.eyes__container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: #e53170;
  top: 22%;
}

.eyebrow__right {
  position: absolute;
  top: -2px;
  left: 51%;
  width: 29%;
  height: 6px;
  border: 0.5px solid #f2f2f2;
  transform-origin: 100% 0;
  transform: rotate(344deg);
  border-top-right-radius: 12px;
  border-top-left-radius: 25px;
  border-bottom: 1px;
}

.eyebrow__left {
  position: absolute;
  top: 8px;
  width: 27%;
  height: 6px;
  border: solid 1px #f2f2f2;
  border-color: #f2f2f2 transparent transparent transparent;
  border-radius: 50%;
  border-radius: 50%/100px 100px 0 0;
}

.eye__right {
  position: absolute;
  top: 62%;
  left: 60%;
  width: 19px;
  height: 12px;
  border: 2px solid #e53170;
  border-color: #e53170 transparent transparent transparent;
  border-radius: 500%/200px 100px 0 0;
}

.eye__right::after {
  content: '';
  position: absolute;
  top: 62%;
  left: 60%;
  width: 19px;
  height: 12px;
  border: 2px solid white;
  border-color: white transparent transparent transparent;
  border-radius: 0 0 340px 50%/250px;
}

.circle {
  border-radius: 50%;
  position: absolute;
  background: rgba(6, 214, 255, 0);
}

.no-fill-circle {
  border: 4px solid #e53170;
  z-index: 5;
  width: 200px;
  height: 200px;
}

.fill-circle-one {
  width: 225px;
  height: 225px;
  border: 15px solid #f2eef5;
  z-index: 4;
}

.fill-circle-two {
  border: 2px solid #e53170;
  z-index: 3;
  width: 235px;
  height: 235px;
}

.fill-circle-three {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  width: 200px;
  height: 200px;
  background: #e53170;
}

.teeth-container-top {
  position: absolute;
  display: flex;
  left: 50%;
  top: -2%;
  transform: translate(-50%, 0%);
}

.teeth {
  z-index: 2;
}

.teeth-container-top div {
  width: 50px;
  height: 50px;
  background: #f2eef5;
  border-radius: 25%;
  margin-left: 2px;
}

.teeth-container-bottom {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: -10%;
  transform: translate(-50%, 0%);
  z-index: 2;
}

.teeth-container-bottom div {
  width: 50px;
  height: 50px;
  background: #f2eef5;
  margin-left: 2px;
}

.rotate-left {
  border-radius: 50% 20% 0px 0px;
}

.rotate-right {
  border-radius: 20% 50% 0px 0px;
}

.eyes-container {
  position: absolute;
  left: 50%;
  top: -30%;
  transform: translate(-50%, 0%);
  display: flex;
}

.eyes-container div {
  border-radius: 50%;
  background: #e53170;
  width: 20px;
  height: 20px;
  margin: 0px 100px;
}
 */