.hero__image {
  background-image: linear-gradient(rgba(75, 75, 75, 0.3), rgba(0, 0, 0, 0.3)),
    url('../assets/sontage.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0.5px);
  -webkit-filter: blur(0.5px);
  position: relative;
}

.hero__title {
  text-align: start;
  position: absolute;
  top: 75%;
  left: 35%;
  transform: translate(-50%, -80%);
  color: white;
  font-size: 9.9vw;
}
